﻿@model List<DataLayer.TestData>
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

@foreach(var item in Model)
{
    @Html.Label(item.TestText);
}